<div class="text-center p-3 border-round-sm bg-primary font-bold">
  <mat-card class="shadow-8 radius">
    <mat-card-header>
      <mat-card-title>Pronostico semanal</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="grid m-3 dates" *ngIf="datelist">

        <mat-card class="mr-4"   *ngFor="let date of datelist" > <!-- Hacer Ngfor a la card-->
          <!-- TODO: Sacar Temp, Temp_max, Temp_min, nubes, dia -->
          <div class="col">
              <div class="text-center p-3 border-round-sm bg-primary font-bold">
                <mat-card-subtitle>{{ getDate(date.dt) | date: 'EEEE'}}</mat-card-subtitle>
              </div>
              <div class="text-center p-3 border-round-sm bg-primary font-bold">
                {{date.temp.max}}
              </div>
          </div>
        </mat-card>

      </div>

    </mat-card-content>
  </mat-card>
</div>
