/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}


mat-card{
  background-color: rgba(57, 184, 216, 0.3)!important;
  backdrop-filter: blur(10px);
}
