<div class="grid nested-grid">
  <div class="col-8">
    <div class="grid">

      <div class="col-6">
        <wind-page [weather]="weather"></wind-page>
      </div>

      <div class="col-6">
        <temperature-page [weather]="weather"></temperature-page>
      </div>



      <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          <mat-card class="shadow-8 radius">
            <mat-card-header>
              <mat-card-title>Aqui aparecera algun grafico</mat-card-title>
            </mat-card-header>
            <mat-card-content>



            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">

    <search-page></search-page>

  </div>
</div>
